* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.4rem;
}

#bound-one {
  background: #d0d8db;
}
#bound-two {
  background: #dfcece;
}
#bound-three {
  background: #d0d6b3;
}
.scroll-bound {
  height: 500vh;

  border: 3px solid hotpink;
}

.scroll-bound .content {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid greenyellow;
}

.scroll-bound video {
  /* width: 80%; */
  /* width: 100%; */
  width: 100%;
  /* height: 100%; */
  /* height: 100vh; */

  /* object-fit: cover; */
  /* position: absolute;
  inset: 0; */
}
